{
  "extends": ["airbnb-base"],
  "plugins": ["cypress"],
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
