{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["cypress", "prettier", "jest"],
  "ignorePatterns": ["lib/cypress-plugin/tmp/*"],
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true,
    "jest/globals": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "arrow-parens": 2
  }
}
